:root {
    font-family: 'Geologica', sans-serif;
}

body {
    background: linear-gradient(135deg, #052652 0%, #2d9cdb 100%);
    width: 100%;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Geologica', sans-serif;
}

a {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    margin: 0;
}